body {
  /*background-color: #FFDCAE;*/
  margin: 0;
}

div {
  /* #76BA99 #ADCF9F #CED89E #FFDCAE*/
  background-color: #FFDCAE;
  border: 0;
  color: #76BA99;
  font-family: 'Anton', sans-serif;
  margin: 0;
  padding: 4px;
  text-align: center;
}

.div01 {
  position: fixed;
  text-align: left;
  top: 0;
  width: 100%;
}

.div02 {
  background-color: #76BA99;
  clear: left;
  position: fixed;
  top: 107px;
  width: 100%;
}

.div07 {
  position: fixed;
  top: 140px;
  width: 100%;
}

.div05 {
  margin: 173px 0 65px;
}

.div04 {
  display: inline-block;
  width: 384px;
}

.div03 {
  bottom: 33px;
  position: fixed;
  width: 100%;
}

.div06 {
  bottom: 0;
  position: fixed;
  width: 100%;
}

a {
  color: #76BA99;
  font-family: 'Anton', sans-serif;
  font-size: 12px;
  text-decoration: none;
}

.a01 {
  color: #FFDCAE;
  margin: 4px;
}

h1 {
  display: inline;
  font-size: 12px;
  font-weight: normal;
}

.h101 {
  font-size: 8px;
}

.h102 {
  font-size: 16px;
}

.h103 {
  font-size: 16px;
}

.h104 {
  display: block;
  font-size: 16px;
}

.h105 {
  font-size: 16px;
}

li {
  font-size: 12px;
  text-align: left;
}

.li01 {

}

.img01 {
  float: left;
  height: 96px;
}

.img04 {
  float: right;
  height: 96px;
}

.img02 {
  height: 16px;
  margin-left: 4px;
}

.img03 {
  width: inherit;
}

label {
  font-size: 12px;
}

@media (-webkit-min-device-pixel-ratio: 1.5) {
  div {
    padding: 8px;
  }

  .div02 {
    top: 208px;
  }

  .div07 {
    top: 260px;
  }

  .div05 {
    margin: 325px 0 96px;
  }

  .div04 {
    width: 768px;
  }

  .div03 {
    bottom: 56px;
  }

  a {
    font-size: 24px;
  }

  .a01 {
    margin: 8px;
  }

  h1 {
    font-size: 24px;
  }

  .h101 {
    font-size: 16px;
  }

  .h102 {
    font-size: 32px;
  }

  .h103 {
    font-size: 8px;
  }

  .h104 {
    font-size: 32px;
  }

  .h105 {
    font-size: 32px;
  }

  li {
    font-size: 24px;
  }

  .li01 {

  }

  .img01 {
    height: 192px;
  }

  .img04 {
    height: 192px;
  }

  .img02 {
    height: 32px;
    margin-left: 8px;
  }

  label {
    font-size: 24px;
  }
}

@media print {}
